/* === ALL ELEMENTS === */
* {
	margin: 0;
	padding: 0;
}

/* === ELEMENT SELECTORS === */
a {
	color: #828ADB;
	text-decoration: none;
}

a:hover {
	opacity: 0.8;
}

aside {
	background-color: #6369A8;
	border: 5px solid #36395C;
	border-radius: 5px;
	font-family: 'Encode Sans SC', Helvetica, sans-serif;
	margin: 10px;
	padding: 20px;
	text-align: center;
	width: 30%;
}

aside .panel-section {
	font-size: 25px;
	margin: 10px 0;
}

aside button {
	border: none;
	margin-bottom: 15px;
	padding: 5px 8px;
}

body {
	background-color: #52535C;
	border: 5px solid #36395C;
	color: #C8CBE1;
	font-family: 'Noto Serif JP', 'Times New Roman', serif;
	min-height: 100vh;
	padding: 35px;
}

button {
	border: none;
	border-radius: 5px;
	color: #36395C;
}
button:hover {
	color: #C8CBE1;
	cursor: pointer;
}

footer {
	border-top: 5px solid #36395C;
	padding: 10px;
	text-align: center;
}

footer div {
	display: flex;
	justify-content: space-around;
}

footer div p {
	font-size: 15px;
}

footer p {
	font-size: 20px;
	margin: 10px 0;
}

h1, h2, h3 {
	font-family: 'Encode Sans SC', Helvetica, sans-serif;
}

header {
	margin: 5px;
	text-align: center;
}

header h1 {
	border-bottom: 5px solid #36395C;
	margin: 5px;
	text-align: center;
}

header h2 {
	border-bottom: 5px solid #36395C;
	border-radius: 5px;
	margin: 15px 30%;
	padding: 5px;
}

header p {
	line-height: 1.5;
	margin: 20px 0;
}

main {
	display: flex;
	justify-content: center;
	padding: 10px;
}

section {
	align-items: center;
	background-color: #000000;
	background-image: url(/images/NebulousSpace_1280x720.png);
	background-size: cover;
	border: 5px solid #36395C;
	border-radius: 5px;
	display: flex;
	height: 550px;
	justify-content: center;
	margin: 10px;
	width: 60%;
    overflow: hidden;
}

section div {
	margin: 0 auto;
    display: flex;
}

/* === CLASS SELECTORS === */
.hidden {
	display: none;
}

.meter {
    border: 5px solid #36395C;
    border-radius: 25px;
    margin: 5px 15px;
}

.meter #fuel-meter {
    background-color: #DBC36B;
    width: 100%;
    transition: width 1s 0s ease;
}

.meter #oxygen-meter {
    background-color: #76DB93;
    width: 100%;
    transition: width 1s 0s ease;
}

.meter #rad-meter {
    background-color: #DB9797;
    width: 0%;
    transition: width 1s 0s ease;
}

.meter #reactor-meter {
    background-color: #7DBEE8;
    width: 0%;
    transition: width 1s 0s ease;
}

.meter span {
    display: block;
    height: 100%;
    background-color: #6369A8;
    height: 5px;
}

/* === ID SELECTORS === */
#asteroid {
    height: 30px;
    width: 45px;
    padding-bottom: 55px;
    align-self: flex-end;
    justify-self: flex-end;
    animation: move-asteroid 35s infinite;
}

#exhaust {
    height: 50px;
}

#fuel-btn {
	background-color: #DBC36B;
	border-bottom: 2px solid #36395C;
	border-right: 2px solid #36395C;
}

#fuel-btn:hover {
	background-color: #dbc36b9f;
}

#loss-screen > *, #win-screen > * {
	margin: 15px 0;
}

#named-ship {
    margin: 10px 0;
    font-size: 25px;
    font-family: 'Encode Sans SC', Helvetica, sans-serif;
    text-transform: uppercase;
    border-top: 5px solid #36395C;
}

#oxygen-btn {
	background-color: #76DB93;
	border-bottom: 2px solid #36395C;
	border-right: 2px solid #36395C;
}

#oxygen-btn:hover {
	background-color: #76db93af;
}

#planet {
    height: 120px;
    width: 120px;
    padding: 35px 0;
    align-self: flex-start;
    justify-self: flex-end;
    animation: move-planet 40s infinite;
}

#rad-btn {
	background-color: #DB9797;
	border-bottom: 2px solid #36395C;
	border-right: 2px solid #36395C;
}

#rad-btn:hover {
	background-color: #db9797a5;
}

#reactor-up-btn, #reactor-down-btn {
	background-color: #7DBEE8;
	border-bottom: 2px solid #36395C;
	border-right: 2px solid #36395C;
}

#reactor-up-btn:hover , #reactor-down-btn:hover {
	background-color: #7dbde8c1;
}

#start-btn:hover {
	background-color: #bd95e8c4;
}

#welcome-container, #loss-container, #win-container {
	background-color: rgba(0,0,0,0.8);
	height: 100vh;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1;
}

#welcome-screen button, .restart-btn {
	background-color: #BD95E8;
	border-bottom: 2px solid #36395C;
	border-right: 2px solid #36395C;
	padding: 5px 8px;
}

#welcome-screen div {
	display: flex;
	gap: 20px;
	justify-content: center;
	margin: 20px 0;
}

#welcome-screen h1 {
	border-bottom: 5px solid #36395C;
	margin: 5px;
	text-align: center;
}

#welcome-screen h2 {
	border: 5px solid #36395C;
	margin: 0 40%;
}

#welcome-screen input {
	border: none;
	border-bottom: 2px solid #36395C;
	border-radius: 5px;
	border-right: 2px solid #36395C;
	padding: 5px 8px;
}

#welcome-screen p {
	line-height: 1.5;
}

#welcome-screen, #loss-screen, #win-screen {
	font-size: 20px;
	margin: 8% auto;
	padding: 30px;
	text-align: center;
	width: 70%;
}

@keyframes move-planet {
    from {
        transform: translatex(900%);
    }
    to {
        transform: translatex(-350%);
    }
}

@keyframes move-asteroid {
    from {
        transform: translatex(250%);
    }
    to {
        transform: translatex(-2400%);
    }
}