* {
    margin: 0;
    padding: 0;
    /* look up box command */
}

body {
    padding: 35px;
    border: 5px solid #36395C;
    min-height: 100vh;
    background-color: #52535C;
    color: #C8CBE1;
    font-family: 'Noto Serif JP', 'Times New Roman', serif;
}

h1, h2, h3 {
    font-family: 'Encode Sans SC', Helvetica, sans-serif;
}

button {
    color: #36395C;
    border: none;
    border-radius: 5px;
}

header {
    text-align: center;
    margin: 5px;
}

header h1 {
    text-align: center;
    margin: 5px;
    border-bottom: 5px solid #36395C;
}

header div {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 20px 0;
}

header p {
    line-height: 1.5;
}

header button {
    background-color: #7DBEE8;
    padding: 5px 8px;
    border-bottom: 2px solid #36395C;
    border-right: 2px solid #36395C;
}

header input {
    padding: 5px 8px;
    border: none;
    border-bottom: 2px solid #36395C;
    border-right: 2px solid #36395C;
    border-radius: 5px;
}

header h2 {
    border: 5px solid #36395C;
    margin: 0 40%;
}

main {
    display: flex;
    justify-content: center;
    padding: 10px;
}

section {
    border: 5px solid #36395C;
    margin: 10px;
    height: 400px;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(/images/NebulousSpace_1280x720.png);
    background-size: cover;
    background-color: #000000;
}

section div {
    margin: 0 auto;
}

aside {
    border: 5px solid #36395C;
    margin: 10px;
    padding: 20px;
    width: 18%;
    text-align: center;
    background-color: #6369A8;
    font-family: 'Encode Sans SC', Helvetica, sans-serif;
}

aside .panel-section {
    margin: 10px 0;
    font-size: 25px;
}

aside button {
    padding: 5px 8px;
    margin-bottom: 15px;
    border: none;
}

#fuel-btn {
    background-color: #DBC36B;
    border-bottom: 2px solid #36395C;
    border-right: 2px solid #36395C;
}

#rad-btn {
    background-color: #DB9797;
    border-bottom: 2px solid #36395C;
    border-right: 2px solid #36395C;
}

#oxygen-btn {
    background-color: #76DB93;
    border-bottom: 2px solid #36395C;
    border-right: 2px solid #36395C;
}

button:hover {
    color: #C8CBE1;
    cursor: pointer;
}

#fuel-btn:hover {
    background-color: #dbc36b9f;
}

#rad-btn:hover {
    background-color: #db9797a5;
}

#oxygen-btn:hover {
    background-color: #76db93af;
}

#start-btn:hover {
    background-color: #7dbde8c1;
}

footer {
    border-top: 5px solid #36395C;
    padding: 10px;
    text-align: center;
}

footer div {
    display: flex;
    justify-content: space-around;
}

footer p {
    margin: 10px 0;
    font-size: 20px;
}

footer div p {
    font-size: 15px;
}

.hidden {
    display: none;
}

a {
    color: #828ADB;
    text-decoration: none;
}

a:hover {
    opacity: 0.8;
}