/* Nebulous Space Background by Miontomaru Magnusson: https://miontomaru.itch.io/nebulous-space-background*/
/* DID NOT USE Voxel Spaceship Collection by Max Parata: https://maxparata.itch.io/voxel-spaceships 
Blue, Green, and Red Spacecraft Asset by Guardian https://guardian5.itch.io/blue-green-and-red-spacecraft-asset
Spaceships by Tummyache https://opengameart.org/content/purple-space-ship and Xevin https://opengameart.org/content/simple-spaceship
*/

* {
    margin: 0;
    padding: 0;
    /* look up box command */
}
body {
    padding: 35px;
    border: 5px solid #000000;
    min-height: 100vh;
}

header {
    text-align: center;
    margin: 5px;
}

header h1 {
    text-align: center;
    margin: 5px;
    border-bottom: 5px solid #000000;
}

header div {
    display: flex;
    justify-content: center;
}

header p {
    line-height: 1.5;
}

main {
    display: flex;
    justify-content: center;
    padding: 10px;
}

section {
    border: 5px solid #000000;
    margin: 10px;
    height: 400px;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(/images/NebulousSpace_1280x720.png);
    background-size: cover;
    background-color: #000000;
}

section div {
    margin: 0 auto;
}

aside {
    border: 5px solid #000000;
    margin: 10px;
    padding: 20px;
}

footer {
    border-top: 5px solid #000000;
    padding: 10px;
    text-align: center;
}

footer div {
    display: flex;
    justify-content: space-around;
}

footer p {
    margin: 10px 0;
    font-size: 20px;
}

footer div p {
    font-size: 15px;
}

.hidden {
    display: none;
}